.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.topSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.bottomSvg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Subtle, colored shadow */
  backdrop-filter: blur(8px); /* This creates the frosted glass effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border for depth */
  overflow: hidden;
  width: 80%;
  max-width: 1200px;
  display: flex;
}

.container > * {
  position: relative;
  z-index: 1;
}

.lottieContainer {
  flex: 1.5 1;
  background-color: #f8f8ff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottieContainerMobile {
  width: 100%;
  max-height: 200px;
  padding: 1rem;
}
.formContainer {
  flex: 1;
  padding: 1rem;
}

.form_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h_full {
  height: 100%;
}

.max_width {
  max-width: 75%;
}

.center_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .main {
    padding: 10px;
  }

  .container {
    width: 95%;
  }

  .lottieContainer {
    display: none;
  }

  .formContainer {
    padding: 1rem;
  }

  .center_logo {
    margin-bottom: 0.5rem;
  }

  .center_logo img {
    width: 80px;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .lottieContainer {
    display: none;
  }

  .formContainer {
    flex: 1;
  }
}

/* Responsive form elements */
@media (max-width: 768px) {
  .formContainer input,
  .formContainer button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .formContainer button {
    padding: 10px 16px;
  }

  .container {
    width: 95%;
    padding-bottom: 80px; /* Add space for the logo at the bottom */
  }
}
