* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.global-loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  mask: linear-gradient(0deg, #C4C3FB 55%, #0000 0) bottom/100% 18.18%;
  background: linear-gradient(#6D66C8 0 0) bottom/100% 0% no-repeat #ddd;
  animation: l8 2s infinite steps(7);
}
@keyframes l8 {
  100% {
    background-size: 100% 115%;
  }
}

.header-logo{
  background: -webkit-linear-gradient(#6D66C8, #C4C3FB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 24px;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  src: url('../../public/fonts/SF-Pro-Display-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  src: url('../../public/fonts/SF-Pro-Display-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  src: url('../../public/fonts/SF-Pro-Display-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}


.auth-modal-bg {
  background: linear-gradient(192.77deg, #C4C3FB 9.24%, #6D66C8 90.76%) !important;
}

/* body .chakra-modal__overlay {
  pointer-events: none !important;
} */