.button-menu {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    background-color: #6D66C8;
    font-size: 28px;
  }
  
  .checkbox {
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
  
  .option {
    position: absolute;
    background-color: #6D66C8;
    z-index: -1;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
    box-shadow: 3px 3px 10px 0px rgba(16, 16, 16, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  
  .checkbox:hover ~ .button-menu,
  .checkbox:checked ~ .button-menu {
    scale: 0.98;
    box-shadow: none;
  }
  
  
  .checkbox:checked ~ .button-menu::after {
    content: "-";
    scale: 0.98;
    box-shadow: none;
  }
  
  .checkbox:not(:checked) ~ .option {
    box-shadow: none;
  }
  
  .option:hover,
  .option:active,
  .option:focus {
    box-shadow: none;
    scale: 0.98;
  }
  
  .checkbox:checked ~ .option-a {
    transition-delay: 0.1s;
    transform: translateY(-90px);
  }
  
  .checkbox:checked ~ .option-b {
    transition-delay: 0.2s;
    transform: translateY(-65px) translateX(65px);
  }
  
  .checkbox:checked ~ .option-c {
    transition-delay: 0.3s;
    transform: translateX(90px);
  }
  